@import url("https://fonts.cdnfonts.com/css/post-no-bills-colombo");
@import "tailwindcss";

@theme {
  --breakpoint-m1: 36rem; /* about to be tablet : equivalent to 576px */
  --breakpoint-m2: 30rem; /* Large phone : equivalent to 480px */
  --breakpoint-m3: 15rem; /* smallest phone: equivalent to 230px */
  --breakpoint-xsm: 10rem; /* equivalent to 160px */
  --color-primary: #f8f8f8;
  --font-postnobills: "Post No Bills Colombo", sans-serif;
  /* --breakpoint-2xl: 80rem; /* equivalent to 1280px */
  /* --breakpoint-xl: 64rem; equivalent to 1024px : Default :  */
  /* --breakpoint-lg: 61rem; equivalent to 976px */
  /* --breakpoint-sm: 40rem; equivalent to 640px */
}

@layer utilities {
  .scrollbar-hide {
    &::-webkit-scrollbar {
      display: none;
    }
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
}
